/* ------------------ GERAL ----------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #353535;
}

body {
  font-family: "Cereal", sans-serif;
  font-size: 17px;
}

/* ----------------------- HEADER ------------------- */

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.content-header {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 1100px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;
}

.menu-content {
  border: 1px solid rgb(214, 214, 214);
  padding: 8px 20px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-start-end-radius: 50px;
  border-end-start-radius: 50px;
}

.lista-menu {
  display: flex;
  gap: 30px;
  align-items: center;
}

.detalhe::after {
  content: " ";
  position: absolute;
  margin-left: 15px;
  width: 2px;
  height: 20px;
  background-color: rgb(209, 209, 209);
}
.hosp a {
  color: #888888;
}

.busca {
  border-radius: 100%;
}

.direita-content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.login {
  padding: 10px;
  border: 1px solid rgb(214, 214, 214);
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-start-end-radius: 50px;
  border-end-start-radius: 50px;
  display: flex;
  gap: 15px;
}

.hamburger {
  position: relative;
  top: 6px;
  border: none;
  background: none;
  border-top: 2px solid #353535;
  cursor: pointer;
  height: 2px;
}

.hamburger::before,
.hamburger::after {
  content: " ";
  display: block;
  width: 15px;
  height: 2px;
  background-color: #353535;
  margin-top: 3px;
}

/* ---------------------- TITULO -----------------  */

.titulo-content {
  display: flex;
  justify-content: center;
}

.titulo {
  margin-top: 20px;
  display: flex;
  width: 1220px;
  justify-content: space-between;
  color: #0000;
  margin-bottom: 20px;
}

.titulo-esquerda {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 19px;
}

.titulo-direita {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: underline;
}

/* ------------------ FOTOS ------------------  */

.fotos {
  display: flex;
  justify-content: center;
}

.fotos-content {
  display: flex;
  width: 1220px;
  height: 502px;
  gap: 10px;
}

.foto-principal {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
}

.foto3 {
  border-top-right-radius: 10px;
  object-fit: cover;
}

.foto2,
.foto4 {
  object-fit: cover;
}

.foto5 {
  border-bottom-right-radius: 10px;
  object-fit: cover;
}

.fotos-secundarias {
  display: flex;
  gap: 10px;
}

/* -------------------- INFORMAÇÔES ------------------ */
#main {
  width: 1220px;
  margin: auto;
  display: flex;
  margin-top: 40px;
}

#informacoes {
  font-size: 17px;
  display: flex;
  width: 680px;
  flex-direction: column;
}

.preferido {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(214, 214, 214);
  padding: 30px 20px 20px 20px;
  border-radius: 10px;
  align-items: center;
}

.preferido-hospedes {
  display: flex;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.loc {
  font-size: 15px;
  margin-bottom: 40px;
}

.num-avaliacao,
.estrelas {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.estrelas {
  gap: 3px;
}

.estrelas::before {
  content: " ";
  position: absolute;
  margin-left: 80px;
  width: 1px;
  height: 50px;
  background-color: rgb(209, 209, 209);
}

.num-avaliacao a {
  font-size: 14px;
}

/* ---------------------------- ANFITRIÃO ------------------------ */
#anfitriao {
  margin-top: 40px;
}

.anfitriao-content {
  align-items: center;
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.anfitriao-content p {
  font-size: 14px;
}
.anfitriao-content span {
  margin-right: 10px;
}

.anfitriao-content span::after {
  content: " ";
  position: absolute;
  background-color: #353535;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  margin-top: 7px;
  margin-left: 3px;
}

.img-anfitriao {
  border-radius: 100%;
}

/* ---------------------------- ANFITRIÃO INFO ------------------------  */
.anfitriao-info {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.anfitriao-info1,
.anfitriao-info2,
.anfitriao-info3 {
  display: flex;
  align-items: center;
  gap: 50px;
}

.anfitriao-info1 h4,
.anfitriao-info2 h4,
.anfitriao-info3 h4 {
  font-size: 16px;
}

.anfitriao-info1 p,
.anfitriao-info2 p,
.anfitriao-info3 p {
  margin-top: 7px;
  font-size: 14px;
}

/* ---------------------------- TEXTO DISCRIÇÃO ------------------------  */
.discricao {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 680px;
}

.discricao-traducao {
  margin-bottom: 30px;
  padding: 15px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.texto-discricao {
  margin-bottom: 20px;
}

.discricao a {
  color: black;
  text-decoration: underline;
}

/* ------------------------------ ONDE DORMIR ------------------------------ */

#onde-dormir h3 {
  margin: 50px 0px 20px 0px;
  font-size: 22px;
}

.onde-dormir-quartos {
  display: flex;
  gap: 20px;
}

.quarto1,
.quarto2 {
  font-size: 15px;
  width: 215px;
  height: 160px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 10px;
  padding: 25px 10px 30px 25px;
  margin-bottom: 40px;
}

.quarto1 h4,
.quarto2 h4 {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* ----------------------------- LUGAR OFERECE -------------------------  */

#lugar-oferece h3 {
  font-size: 22px;
  margin: 50px 0px 40px 0px;
}

.comodidades-content {
  display: flex;
  gap: 80px;
}

.comodidades {
  display: flex;
  gap: 20px;
  margin-bottom: 13px;
}

.todas-comodidades {
  margin: 20px 0px 50px 0px;
}

.todas-comodidades p {
  color: #000000;
  display: inline-block;
  padding: 10px 40px;
  border: 1px solid #000000;
  border-radius: 5px;
}
